* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
header {
    width: 100%;
    height: 800px;
    background: #428bc3a2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #428bc3a2, #428bc3a2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(206, 52%, 51%, 0.171), hsla(206, 52%, 51%, 0.177)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

header .logo{    
    width: 20%;
    height: auto;
    padding-left: 20px;
}


 
.nav-item{
    font-size:large !important;
   
}

.nav-link:hover {
    color: #05762d !important;
    transition: 0.5s;
}
#menu li>a {
    font-size: 18px;
    color: #230A4C;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 45px;
    color: white !important;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: white;

}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*About As*/
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
     top: 0;
}

.imagen-about-us{
    width: 48%;
    height: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686 ;
    color: white;
    border-radius: 50%;
    display:inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Galeria*/

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 30%;
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;    
    height: 100%;
    object-fit: cover;
    display: block;
    
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(263, 77%, 17%, 0.61);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: white;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Clients*/

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #230A4C;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card .contenido-texto-card{
    width: 60%;
    color: #d1d0d0;
}
.cards .card .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*Our teams hola*/
.about-services{
    background: #f2f2f2;
    
}

.horizontal-padding{
    padding-left: 25px;
    padding-right: 25px;
}

.vertical-padding{
    padding-top: 25px;
    padding-bottom: 25px;
}
/*footer*/

footer{
    background: #070111;
    padding: 30px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: white;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: gray;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 0 0 0 0;
    color: #d1d0d0;
    
}


@media screen and (max-width: 992px) {
 header{
    background-position: center;   
    height: 980px;
 } 

 header .navbar{
    background: white !important;
    width: 100% !important;
}

header .logo{    
    width: 25%;
    height: auto;
    padding: 0;
} 

 
.nav-item{
    font-size:large !important;
   
}

.nav-link:hover {
    color: #05762d !important;
    transition: 0.5s;
}
#menu li>a {
    font-size: 18px;
    color: #230A4C;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1 {
    font-size: 45px;
    color: white !important;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: white;

}
 
.wave {
    padding: 0;
    border: none;
}

 .contenedor-sobre-nosotros{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 0;
 }
 .sobre-nosotros .contenido-textos{
    width: 90%;
 }
 .imagen-about-us{
    width: 90%;
 }

 /*Galeria*/
 .imagen-port{
    width: 45%;
 }
 /*Clientes*/
 .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.cards .card{
    width: 90%;
}
.cards .card:first-child{
    margin-bottom: 30px;
}
.servicio-cont{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicio-ind{
    width: 100%;
    text-align: center;
}
.servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
    margin-bottom: 60px;
}
.servicio-ind img{
    width: 70%;
}
.textos-header h1 {
    font-size: 35px;
    color: white;
}

.textos-header h2 {
    font-size: 25px;
    font-weight: 300;
    color: white;

}
.nav-toggle{
    display: block;
}
.nav-menu_visible{
    left: 0;
}
.horizontal-padding{
    padding-left: 70px;
    padding-right: 70px;
}

.vertical-padding{
    padding-top: 70px;
    padding-bottom: 70px;
}
}

@media screen and (max-width: 768px) {
    header{
       background-position: center;   
       
    } 
   
    header .navbar{
       background: white !important;
       width: 100% !important;
   }
   
   header .logo{    
       width: 25%;
       height: auto;
       padding: 0;
   }
 }


@media screen and (max-width: 500px) {
    header{
        background-position: center;   
        
     } 
    
     header .navbar{
        background: white !important;
        width: 100% !important;
    }
    
    header .logo{    
        width: 35%;
        height: auto;
        padding: 0;
    } 
    
     .imagen-port{
        width: 90%;
     }
}