/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/*===================MENU==========================*/

#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}

.nav-link:hover {
    color: #0d6efd !important;
    transition: 0.5s;
}

/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height: 39rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/

#img-equipo{
    max-height:30rem !important;
    width:50%;
}

/*===================SECCION NUESTRO EQUIPO MAPA==========================*/

.mapa{
    width:100%;
    height:500px;
}

#local{
    margin-top: 50px;
    background-color: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 70px;
}

/*===========================SECCION EQUIPO MIAMI==================================*/

#numeros-local{
    margin: 0 !important;
    padding: 0 !important;
}

#numeros-local div{
    padding: 0 20px 0 0;
    text-align: left;
    height: 48px;
}

#numeros-local div:not(:last-child){
    border-right: 2px solid #3f3f3f;    
}

#numeros-local div:not(:first-child){
    padding-left: 20px;
}

#numeros-local p {
    margin: 0;
}

/*===========================CONTACTOS BACKGROUND==================================*/

#bg-contacto{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    background-color: #1b2a4e;
    min-height: 500px;
    position: relative;
}

/*=========================CONTACTOS FORMULARIO================================*/
#contenedor-formulario{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario{
    color: #3f3f3f;
}

textarea{
    field-sizing: content;
    max-height: 150px;
}

/*=========================FOOTER================================*/

footer{
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}


/*=========================MEDIA QUERIES================================*/


@media (max-width:1200px){
    #portafolio, #equipo {
        width: 90% !important;
        margin: auto;
    }

    #local{
       flex-wrap: wrap;
        padding-top: 30px;
    }
    
    .icono-wrap img{
        width: 240px;
        height: 160px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 100px;
    }
}

@media (max-width:768px) {
    #portafolio, #equipo {
        width: 90% !important;
        margin: auto;
    }

    .icono-wrap{
        flex-wrap: wrap;  
        justify-content: center !important;
        padding: 0 !important;
    }

     
    .icono-wrap img{
        width: 480px;
        text-align: center;
        height: 320px;
    }

    #img-equipo{
        max-height: 20rem !important;
        width: 90%;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 100px;
    }

    #equipo p{
        display: none;
    }

    .mapa img {
        width: 100%;
        height: auto;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto{
        top: -120px;
    }   
}

@media(max-width: 576px) {
    #portafolio, #equipo {
        width: 90% !important;
        margin: auto;
    }

    .icono-wrap{
        flex-wrap: wrap;  
        justify-content: center !important;
        padding: 0 !important;
    }

    .icono-wrap img{
        width: 240px;
        text-align: center;
        height: 160px;
    }
    
    .servcio-fila-contenido h3, 
    .servcio-fila-contenido p    
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 20px;
    }
    .mapa{        
        width:100%;
        height:300px;
    }

    #numeros-local p {
        font-size: 80%;
    }
}
