nav {
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding: 30px 50px 0 0;
  /*max-width: 992px;
  margin: 0 auto;*/
}

.nav-link{
  color: white;
  text-decoration: none;
}
.nav-toggle{
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 30px;
  display: none;
  cursor: pointer;
}
.nav-toggle:focus:not(:focus-visible){
  outline: none;
}

/*nav>a {
  color: white;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
}*/

.logo{
  padding: 10px 60px;
  width: 30%;
  height: 30%;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 50px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link{
  padding: 4px 6px;
  border-radius: 3px;
}
.nav-menu-link:hover,
.nav-menu-link_active{
  color: white;
  background-color:hsla(330, 100%, 47%, 0.504);
  transition: 0.5s;
}

/*nav>a:hover {
  text-decoration: underline;

}*/

@media screen and (max-width: 990px) { 
.logo{
  width: 60%;
  padding: 10px 20px;
}
.nav-menu{
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background-color: #4f4e4e;
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  padding: 20px 0;
  height: 300px;
  overflow-y: auto;
  margin-top: 40px;
  left: 100%;
  transition: left 0.3s;
}
.nav-menu-item{
  font-size: 16px;
}
.nav-menu-link{
  padding: 0;
  border-radius:0;
}
.nav-menu-link:hover,
.nav-menu-link_active{
  transition: none;
  background: none;
  color: #f80759;
}
.no-scroll {
  /* Debe tener altura específica para que funcione */
  max-height: 100vh;
  overflow: hidden;
}
.nav-toggle{
  display: block;
}
.nav-menu_visible{
  left: 0;
}
}
@media screen and (max-width: 500px) {
  .logo{
      width: 70%;
      padding: 10px 20px;
      justify-content: center;
   } 
}